---
---

$white: #EEEEEE;
$gray: #BDBDBD;
$gray-tp: rgba(33, 33, 33, .5);

html, body {
    min-height: 100%;
    margin: 0;
    scroll-behavior:smooth;
    color: $white;
}

.nav-wrapper {
    position: fixed;
    text-align: right;
    right: 0;
    top: 0;
    li {
        list-style: none;
        background: $gray-tp;
        margin-top: 1px;
        border-left: 6px solid $white;
        padding: 0.5em;
    }
    a {
        color: $white;
    }
}

.pane {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2 {
    margin: 0;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid $white;
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.top {
    background: #01579B;
    background-image: url(key.jpg);
    background-position: right;
    background-size: cover;
}

.top-title {
    text-align: center;
    word-break: keep-all;
}

.news {
    background: #827717;
    background-image: url(desktop.jpg);
    background-position: left;
    background-size: cover;
}

.content {
    background: $gray-tp;
    padding: 1em;
}