---
---

html, body {
    min-height: 100%;
    margin: 0;
    font-family: 'Gaegu', cursive;
    position: relative;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 10vw;
}

nav, input {
    display: none;
}

.pane {
    height: 100vh;
    margin: 0 0 0 auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.top {
    background: #008cbc;
}

.aaa {
    background: #007500;
}

.bbb {
    background: #e6c700;
}

.ccc {
    background: #db2f27;
}

@media (min-width: 800px) {
    nav {
        display: initial;
        position: fixed;
        height: 100vh;
        width: 20vw;
        max-width: 200px;
        background: #fbfbfb;
    }
    
    ul {
        padding: 0;
        li {
            width: 100%;
            list-style: none;
            background: lightblue;
            label {
                display: block;
                padding: 15px;
                font-size: 20px;
                transition: all 300ms 0s ease;
            }
            label:hover {
                font-size: 25px;
            }
        }
    }
    
    input {
        display: none;
    }
    
    .pane {
        position: absolute;
        right: 0;
        width: 80vw;
        min-width: calc(100vw - 200px);
        display: flex;
        opacity: 0;
        z-index: 0;
        transition: all 300ms 0s ease;
    }

    input#top:checked ~ .pane.top {
        opacity: 1;
        z-index: 1000;
    }

    input#aaa:checked ~ .pane.aaa {
        opacity: 1;
        z-index: 1000;
    }

    input#bbb:checked ~ .pane.bbb {
        opacity: 1;
        z-index: 1000;
    }

    input#ccc:checked ~ .pane.ccc {
        opacity: 1;
        z-index: 1000;
    }
}